<div class="container">
    <div class="modal-dialog">
        <div class="modal-content background-customizable modal-content-mobile visible-md visible-lg">
            <div>
                <div>
                    <div class="banner-customizable">
                        <center>
                            <img alt="logo" class="logo-customizable" src="https://dpp0gtxikpq3y.cloudfront.net/us-west-2_mOeiWXTVX/64dhaqtme7udmbkm0a6l3ccb37/20190905172305/assets/images/image.jpg">
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div>
                            <div>
                                <span class="textDescription-customizable ">{{form.description}}</span>
                                <form  {{ form.attributes }}>
                                    {{ form.form_build_id }}
                                    {{ form.form_token }}
                                    {{ form.form_id }}
                                    {# <label for="signInFormUsername" class="label-customizable">Identification</label> #}
                                    <div>
                                        {{ form.identification }}  
                                    </div>

                                    {# <label for="signInFormPassword" class="label-customizable">Password</label> #}
                                    
                                    <input type="hidden" class="form-control inputField-customizable" name="cognitoAsfData">
                                    
                                    {{ form.submit }}
                                    
                                    <br>
                                    <div>
                                        {{ form.register_uri }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
